.search-box {
    border: 2px solid black;
    color:rgb(11, 12, 12);
    height: 50px;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(243, 239, 242);
}

.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 2px;
    color: rgb(12, 3, 3);
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width:190px;
    margin-top: 9px;
}

.search-box:hover > .search-text{
    width: 190px;
    padding: 0 6px;
}

.search-text:focus {
    width: 190px;
    padding: 0 6px;
}


.user-option ul li:hover {
    background-color: #fe7191;
} 

.user-option ul li {
    width: 100%;
    padding: 1em 1.5em;
}

.nav__menu {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 2.4rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0; 
    transition: .3sec;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    z-index: 999999;
}

.show-menu {
    bottom: 0;
}

.Ghumfir{
    
    padding-top: 13px;
    text-align: center;
    height:70px;
    font-size:xx-large;
    color: rgb(24, 24, 25);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidebar{
    position:absolute;
    z-index: 999;
    width:260px;
    height: 300px;
}
.container{
    height:220px;
}

.dataResult {
    width: 260px;
    height: 40px;
    background: rgb(250, 249, 249);
    overflow: hidden;
    overflow-y: auto;
    top: 5rem;
    right: 7rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    color: rgb(8, 8, 8);
    border-left: 1px solid black ;
    border-right: 1px solid black ;

}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .item {
    width: 100%;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 12px;
    border-bottom: 1px solid lightgray;
}
.dataResult .item:last-child{
    border: none;
}
.dataResult .item:hover {
    background: #fe7191;
    width:100%;
}

.cont{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left: 70.7%;
    margin-top:0px;
    /* justify-content: end; */
    
}

.dataResult:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dataResult:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}