select{
    margin-top:15px;
    padding:3px;
    width:230px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family:sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #ff0067;
    color:#ffffff;
   border: 6px solid #ff0067;
   border-radius: 5px;
   background-image: url('../Components/arrow-down.png');
   background-repeat: no-repeat;
   background-size: 40px;
   background-position:180px 0 ;
   outline: none;
   box-shadow: 0 0 20px rgba(20,20,30,0.25);
}
select::-moz-expand{
display: none;
}
select:hover{
    border:6px solid #ff66a3;
}
select option{
    background-color: #ff0067;
    letter-spacing: 1.2px;
    font-weight:400;
    font-size:18px;
}