select{
    margin-top:12px;
    padding:8px;
    width:260px;
    appearance: none;
    font-family:sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    color:#ffffff;
   border: 1px solid #ff0067;
   border-radius: 5px;
   background-image: url('../Components/arrowdown2.png');
   background-repeat: no-repeat;
   background-size: 36px;
   /* background-position:200px 10px ; */
   outline: none;
   box-shadow: 0 0 10px rgba(20,20,30,0.25);
}

select option{
    letter-spacing: 1.2px;
    font-weight:400;
    font-size:18px;
    padding:10px;
}

select option:hover{
    background-color: #ff0067;
}
option:nth-child(2):hover{
    background-color: #ff0067;
}