
@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container{
  height:665px;
  /* height:595px; */
  width:100%
}
.login form input{
  margin-bottom: 1.3rem;
  width: 100%;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.primary-btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  height: 2.7rem;
  padding: 0.7rem 1rem;
  background-color: #fe7191;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s;
}

.primary-btn:hover {
  background-color: #ff8585;
}

.secondary-btn {
  border-radius: 2px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.secondary-btn:hover {
  border-color: #fe7191;
  color: #fe7191;
}

.left {
  background: url('/src/assets/mountain.jpg') no-repeat center center/cover;
  border-radius: 4px;
  
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}